<div id="sample-list-item" class="listco-list-item">

  <button class="icon-button" tabindex="-1">
    <img class="drag-img drag-handle" src="./assets/icons/list-item-handle.svg" alt="Handle">
  </button>

  <button class="icon-button" tabindex="-1" (click)="updateTodoItemCompletedStatus(todoItem)">
    <img class="checked-unchecked-img" src="{{toggleCompletedImgSrc}}" alt="Check">
  </button>

  <input (blur)="updateTodoItemText(todoItem, $event)" class="input-list-item" type="text" value="{{ todoItem.content }}">

  <button class="icon-button" tabindex="-1" (click)="removeTodo(todoItem)">
    <img class="remove-img" src="/assets/icons/remove.svg" alt="Remove">
  </button>
</div>
