
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <img id="nav-logo" src="assets/icons/checklist.svg">
    LISTCO.
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto topnav">
      <li class="nav-item">
        <a class="btn listco-btn new-list-button" type="button" href="#">New
          <img id="new-button-svg" src="assets/icons/plus-circle.svg">
        </a>
      </li>
      <li class="nav-item">
        <a class="btn listco-btn open-list-button" type="button" href="#">Open
          <img id="open-button-svg" src="assets/icons/open-icon.svg">
        </a>
      </li>
      <li class="nav-item">
        <a class="btn listco-btn github-icon" type="button" href="#">
          <img id="github-svg" src="assets/icons/github-icon.svg">
        </a>
      </li>
    </ul>
  </div>
</nav>
