<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 p-0">
      <div class="home-container jumbotron text-center m-0 d-flex flex-column">
        <h1 class="list-title">{{ todoList.title }}</h1>
        <h3>List ID: <b>{{ todoList.id }}</b></h3>
        <div class="button-group-home">
          <a routerLink="/todo-list" class="btn listco-btn green-btn" type="button" (click)="openEditTitleDialog()">Edit Title
          </a>
          <a class="btn listco-btn grey-btn" (click)="copyListUrlToClipboard()" type="button">Copy URL
          </a>
        </div>

        <div *ngFor="let todoItem of todoList.todoItemsList">
          <listco-list-item [todoItem]="todoItem" (remove)="removeTodo(todoItem)"></listco-list-item>
        </div>

        <div class="button-group-home">
          <a class="btn listco-btn grey-btn" type="button" (click)="createTodoItem()">New Item</a>
        </div>
      </div>
    </div>
  </div>
</div>
