<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand logo-header" href="#">
    <img id="nav-logo" src="assets/icons/checklist.svg">
    LIST<span style='color: #ffffff'>CO</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto topnav">
      <li class="nav-item">
        <a (click)="openNewList()" class="btn listco-btn-hdr new-list-button-hdr" type="button">New
          <img id="new-button-svg" src="assets/icons/plus-circle.svg">
        </a>
      </li>
      <li class="nav-item">
        <a (click)="openTodoListDialog()" class="btn listco-btn-hdr open-list-button-hdr" type="button">Open
          <img id="open-button-svg" src="assets/icons/open-icon.svg">
        </a>
      </li>
      <li class="nav-item">
        <a class="btn listco-btn-hdr github-icon" type="button" href="#">
          <img id="github-svg" src="assets/icons/github-icon.svg">
        </a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
