@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

/* ------- GENERAL ------- */
body {
  font-family: 'Quicksand';
  background-color: #1F2833;
  color: #ffffff;
}

.wrapper
{
  padding-bottom: 20px;
}

.divider
{
  position: relative;
  margin-top: 15px;
  height: 3px;
}

.div-transparent:before
{
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 3px;
  background-image: linear-gradient(to right, transparent, #45A29E, transparent);
}

.listco-btn {
  color: #ffffff;
  font-size: 1.7rem;
  border-radius: 50px;
  margin: 20px;
}

.listco-btn:hover {
  transform: scale(1.125);
  color: #ffffff;
}

.green-btn {
  background-color: #45A29E;
}

.grey-btn {
  background-color: #C5C6C7;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* ------- HEADER ------- */

/* || ------- NAVBAR ------- */
.navbar {
  background-color: #0B0C10;
  font-size: 1.8rem;
}

.navbar-brand {
  color: #45A29E;
  font-size: inherit;
}

.navbar-brand img {
  width: 44px;
  height: 40px;
  margin-bottom: 6px;
}

.listco-logo {
  background-image: url('./assets/icons/checklist.svg');
}

.logo-header:hover {
  text-decoration: none;
  color: #45A29E
}

/* || ------- BUTTONS ------- */

.listco-btn-hdr {
  color: #ffffff;
  margin-right: 25px;
  font-size: 1.2rem;
  border-radius: 50px;
}

.listco-btn-hdr:hover {
  transform: scale(1.125);
  color: #ffffff;
}

.listco-btn-hdr img {
  margin-bottom: 2px;
}

.new-list-button-hdr {
  background-color: #45A29E;
}

.open-list-button-hdr {
  background-color: #C5C6C7;
}

.github-icon img {
  width: 33px;
  height: 33px;
}

.github-icon:hover {
  transform: scale(1.25);
}


/* ------- HOME ------- */
.home-container {
  background-color: inherit;
}

.button-group-home {
  margin-top: 25px;
}

.home-img {
  width: 170px;
  height: 170px;
  margin-top: 30px;
}

.home-img-text {
  text-align: justify;
  font-size: 18px
}


/* ------- LIST ------- */

.listco-list-item {
  align-items: center;
  padding: 10px;
  /*border-bottom: 1px solid #C5C6C7;*/
  transition: background-color 0.2s;
}

.drag-img {
  width: 24px;
  height: 24px;
  margin-right: 2px;
}

.icon-button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
}

.icon-button:focus {
  border: none;
  outline: none;
}

.icon-button img {}

.checked-unchecked-img {
  width: 24px;
  height: 24px;
  margin-left: 2px;
  margin-right: 2px;}

.remove-img {
  width: 17px;
  height: 17px;
  margin-left: 10px;
}

.remove-img:hover {
  transform: scale(1.25);
}

.open-list-img {
  margin-left: 10px;
}

input.input-list-item, textarea {
  background-color: inherit;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  width: 24rem;
}

.list-title {
  font-size: 50px !important;
  padding-bottom: 20px;
}

/* ------- RECENT LIST ------- */
.open-list-button-recent-list {
  background-color: transparent;
  border: none;
  outline: none;
}

.open-list-button-recent-list:focus {
  border: none;
  outline: none;
}

.open-list-img-recent-list:hover {
  transform: scale(1.125);
  background-color: #45A29E;
}

.remove-button-recent-list {
  background-color: transparent;
  border: none;
  outline: none;
}

.remove-button-recent-list:focus {
  border: none;
  outline: none;
}

.remove-img-recent-list {
  width: 17px;
  height: 17px;
}

.remove-img-recent-list:hover {
  transform: scale(1.25);
}

