<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 p-0">
      <div class="home-container jumbotron text-center m-0 d-flex flex-column">
        <h2>The easiest way to write and share lists with others</h2>
        <div class="button-group-home">
          <a (click)="goToNewList()" class="btn listco-btn green-btn" type="button">New List
          </a>
          <a class="btn listco-btn grey-btn" type="button" (click)="openTodoListDialog()">Open List
          </a>
        </div>
        <br><br>
        <div *ngIf="recentLists">
          <h2>Recently opened lists</h2>
          <br>
            <div *ngFor="let recentList of recentLists">
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3">
                      <h4 class="recent-list">{{ recentList.title }}  -  {{ recentList.creationDate | date: 'shortDate'}}</h4>
                    </div>
                    <div class="col-sm-3">
                      <button class="open-list-button-recent-list" (click)="openTodoList(recentList.id)" tabindex="-1">
                        <img class="open-list-img-recent-list" src="assets/icons/open-icon.svg" alt="Open">
                      </button>
                      <button class="remove-button-recent-list" (click)="removeRecentList(recentList.id)" tabindex="-1">
                        <img class="remove-img-recent-list" src="/assets/icons/remove.svg" alt="Remove">
                      </button>
                    </div>
                    <div class="col-sm-3"></div>
                  </div>
                </div>
                <div class="col-sm-2">
                </div>
                <div class="col-sm-3"></div>
              </div>
            </div>
        </div>
      </div>

      <div class="wrapper">
        <div class="divider div-transparent"></div>
      </div>

      <div class="row justify-content-center">
        <div class="col-3 p-0">
          <div class="home-container jumbotron text-center m-0 d-flex flex-column">
            <div>
            <p class="home-img-text">Edit your lists the way you want, no registration required. Just create a new list or edit an existing one, it's that simple.</p>
            <img class="home-img" id="pencil-img" src="assets/icons/pencil-green.svg">
            </div>
          </div>
        </div>
        <div class="col-3 p-0 home-container">
          <div class="home-container jumbotron text-center m-0 d-flex flex-column">
            <div>
              <p class="home-img-text">Share your lists with others easily on the click of a button! Just copy the url of the list and send it to someone else. </p>
              <img class="home-img" id="share-img" src="assets/icons/share.svg">
            </div>
          </div>
        </div>
        <div class="col-3 p-0">
          <div class="home-container jumbotron text-center m-0 d-flex flex-column">
            <div>
              <p class="home-img-text">Create and edit lists in different types of devices. If your device has access to a web browser, you are good to go! </p>
              <img class="home-img" id="multidevice-img" src="assets/icons/multiple-devices.svg">
            </div>
          </div>
        </div>
       <div>
  </div>
</div>
</div>
</div>
</div>
